<!DOCTYPE html>
<html>
<head>
    <title>Add Vehicle</title>
</head>
<body>
    <h1>Add a New Vehicle</h1>

    <form action="/user/addVehicle" method="POST">
        <input type="hidden" name="userId" value="<%= userId %>" />
        <input type="text" name="vehicleNumber" placeholder="Vehicle Number" required />
        <select name="vehicleType" required>
          <option value="Car">Car</option>
          <option value="Bike">Bike</option>
        </select>
        <button type="submit">Add Vehicle</button>
      </form>
      
</body>
</html>
